
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');



@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
    box-sizing: border-box;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* ::-webkit-scrollbar{
  display: none;
} */

@media(max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}
